<div class="quick-view-box" id="quickView">
  <div class="quick-view-content">
    <div class="quick-view-close" data-productId="{{ product.id }}" tabindex="0">
      {%- render 'icons', icon: 'cross' -%}
    </div>
    <div id="quickViewModal"></div>
  </div>
  <div class="overlay-background"></div>
</div>
