{%- if section.settings.liquid != blank -%}
  <div class="container">
    <div class="custom-liquid-wrapper" ms-aos data-ms-delay="200">
      {{ section.settings.liquid }}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Custom liquid",
  "class": "section--custom-liquid",
  "tag": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "liquid",
      "label": "Liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations."
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}
