.video-product-section .vidprocontiner {
  max-width: 1200px;
  margin: 0 auto;
}

.video-product-section .vidpro-heading {
  line-height: 39.23px;
  font-weight: var(--weight-regular);
  padding-bottom: 25px;
}

.video-product-section .vidproinner video {
  width: 100%;   
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.video-product-section .vidproinner {
  border-radius: 6px;
  width: 33.33%;
  background-color: var(--bg-color);
}

.video-product-section .vidprocontent.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: var(--column-gap);
}

.video-product-section .procontent-wrapper {
  display: flex;
  gap: 8px;
  padding: 20px;
}

.procontent-wrapper .proinner {
  display: flex;
  gap: 8px;
  width: 80%;
  justify-content: space-between;
  flex-direction: column;
}

.procontent-wrapper .proimg {
  align-content: center;
}

.procontent-wrapper .providtitle {
  font-size: calc(var(--bs-size) + 2px);
  line-height: 18px;
  font-family: var(--heading-font-family);
}

.proimg .img-wrapper img {
  border-radius: 6px;
  width: 70px;
  background-color: var(--placeholder_bg_color);
}

.procontent-wrapper .pricecontent {
  display: flex;
  gap: 8px;
}

.procontent-wrapper .compare-price {
  text-decoration: line-through;
  font-size: (var(--bs-size));
  color: var(--compare-price-color);
  opacity: 0.7;
}


@media(max-width: 767px) {
  .vidprocontiner .vidprocontent {
    display: flex;
    overflow-x: scroll;
    flex-wrap: unset;
  }

  .video-product-section .vidprocontent.grid {
    flex-wrap: nowrap;
  }

  .video-product-section .vidpro-heading {
    padding-bottom: 0;
  }
  .video-product-section .vidproinner video{
    max-height: 420px;
  }
  .video-product-section .vidpro-heading{
    line-height: 20px;
  }
  .vidpro-content .vidpro-heading{
    text-align: left;
  }
}

@media(max-width:500px) {
  .grid-1-column-mobile .grid-item {
    width: 100%;
    max-width: 100%;
  }

  .vidprocontiner .vidprocontent {
    padding: 0px 20px;
    row-gap: 20px;
    column-gap: 10px;
  }

  .vidproinner.grid-item {
    width: 330px;
    min-width: 260px;
  }

  .vidproinner video {
    height: 330px;
    object-fit: cover;
  }

}