.featured-collection-section .collections-wrapper {
  background-color: var(--bg-color);
  border-radius: 6px;
  position: relative;
  margin-top: -100px;
  z-index: 1;
  overflow: hidden;
}
.featured-collection-section .collections-wrapper.headingspc{
  margin-top: -100px;
}
.collections-wrapper .coll-bg-image.top-left {
  position: absolute;
  left: 0;
  top: 4%;
  z-index: 0;
  animation: float 4s ease-in-out infinite;
  animation-delay: 0s;
}

.collections-wrapper .coll-bg-image.bottom-right {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 0;
  animation: float 4s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(0);
    /* Initial position */
  }

  50% {
    transform: translateY(-10px);
    /* Float upward */
  }

  100% {
    transform: translateY(0);
    /* Back to the initial position */
  }
}

.collections-list-wrapper {
  padding: 4% 14%;
}

.collections-list-wrapper .tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.collections-list-wrapper .tab-button {
  padding: 10px 20px;
  color: var(--tab-color);
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
}

.collections-list-wrapper .tab-button.active {
  color: var(--active-tab-color);
}

.collections-list-wrapper .tab-button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 20%;
  border-bottom: 1px dashed var(--active-tab-color);
}

.featured-collection-section .animated-text-wrapper {
  font-size: calc(var(--heading-size) * 3.5);
  font-family: var(--heading-font-family);
  font-weight: var(--weight-bold);
  color: var(--heading-color);
  opacity: var(--heading-opacity);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  display: flex;
  width: fit-content;
}

.featured-collection-section .animated-text {
  display: inline-block;
  width: auto;
  white-space: nowrap;
}

.featured-collection-section .animated-text.animated-letters {
  display: inline-block;
  width: 0%;
  animation: typewriter 5s 1s infinite alternate;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
}

.animated-text-wrap {
  margin: 0 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.featured-collection-section .product-price {
  padding-bottom: 10px;
}

.featured-collection-section .product-price .compared-at-price {
  margin-bottom: 0;
}

.product-price.compare--price-grt .price__sale {
  justify-content: space-around;
}

@media (max-width: 1440px) {
  .animated-text-wrap {
    margin: 0 5%;
  }

  .featured-collection-section .animated-text-wrapper {
    font-size: calc(var(--heading-size) * 3.5);
  }
}

@media (max-width: 1024px) {
  .featured-collection-section .animated-text-wrapper {
    font-size: calc(var(--heading-size) * 2.8);
  }

  .featured-collection-section .collections-wrapper {
    margin-top: -80px;
  }

  .collections-list-wrapper {
    padding: 4% 10%;
  }

  .collections-list-wrapper .tab-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .featured-collection-section .animated-text-wrapper {
    font-size: calc(var(--heading-size) * 1.7);
  }

  .featured-collection-section .collections-wrapper.headingspc {
    margin-top: -70px;
  }

  .collections-list-wrapper {
    padding: 4% 7%;
  }

  .collections-list-wrapper .tab-button {
    padding: 10px 10px;
    margin: 0;
  }

  .collections-list-wrapper .tab-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .collections-list-wrapper .tabs {
    gap: 10px;
  }

  .product-item .countdown-wrapper {
    padding: 5px;
  }

  .collections-list-wrapper .tab-content {
    column-gap: 12px;
  }

}

@media (max-width: 480px) {
  .featured-collection-section .animated-text-wrapper {
    font-size: calc(var(--heading-size) * 1.4);
  }

  .featured-collection-section .collections-wrapper.headingspc {
    margin-top: -60px;
  }

  .collections-list-wrapper {
    padding: 4% 0%;
  }

  .collections-list-wrapper .tab-button {
    padding: 5px;
  }
}

@media (max-width: 375px) {
  .featured-collection-section .animated-text-wrapper {
    font-size: calc(var(--heading-size) * 1);
  }

  .featured-collection-section .collections-wrapper.headingspc {
    margin-top: -50px;
  }
}