/* language selector */
.localization-country {
  display: flex;
  align-items: center;
  gap: 33px;
}

.defaultlanguage {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

.language-country-footer {
  position: relative;
}
.header--middle-left .defaultlanguage{
  width:35px;
}
.header--middle-left .desktop-localization-wrapper{
  width:90px;
}