.password-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.password-page .main {
  flex-grow: 1;
  display: flex;
}

.password-page-header {
  border-bottom: 1px solid var(--input_border);
}

.password-header {
  display: flex;
  gap: var(--gutter-width);
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.logo-wrapper h2 {
  margin-bottom: 0;
}

.login-box .sotrefront-form-index {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 2.5rem 2rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
  width: 100%;
  max-width: 400px;
}

.login-box .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}

.login-box .closePop {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  display: flex;
}

.login-box .sotrefront-form-index.open {
  opacity: 1;
  visibility: visible;
}

.login-box .sotrefront-form-index.open+.modal-overlay {
  opacity: 1;
  visibility: visible;
}

.login-box .errors ul {
  list-style: none;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--color_danger);
}

ul.social-icons {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.storefront-password-form label {
  margin-bottom: 1rem;
  text-align: center;
}

.section-password-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.section-password-main .container {
  width: 100%;
}

.newsletter-form-wrapper {
  padding: 2rem;
  text-align: center;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 6px;
}

.newsletter-form-wrapper .form-group,
.login-box .sotrefront-form-index .password-login__input-row {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.newsletter-form-wrapper .form-group input,
.login-box .sotrefront-form-index .password-login__input-row input {
  width: 100%;
  max-width: 250px;
}

.newsletter-form-wrapper .form-group button,
.login-box .sotrefront-form-index .password-login__input-row button {
  min-width: fit-content;
}

.social-meadia-wrapper ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-width);
  flex-wrap: wrap;
  margin-top: 2rem;
}

.social-meadia-wrapper ul a {
  display: flex;
}

.social-meadia-wrapper ul a::after {
  display: none;
}

.password-page-footer {
  border-top: 1px solid var(--input_border);
}

.password-footer {
  text-align: center;
  padding: 1.5rem 0;
}

@media (max-width: 767px) {
  .password-header {
    padding: 1rem 0;
  }

  .password-footer {
    padding: 1rem 0;
  }

  .newsletter-form-wrapper {
    max-width: 80%;
  }

  .login-box .sotrefront-form-index {
    padding: 1.5rem 1rem;
    width: 100%;
    max-width: 70%;
  }

  .login-box .closePop svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 575px) {
  .password-header {
    flex-direction: column;
    gap: calc(var(--gutter-width) / 2);
  }

  .newsletter-form-wrapper {
    max-width: 100%;
    padding: 1.5rem 1rem;
  }

  .login-box .sotrefront-form-index {
    max-width: 92%;
  }
}