.shopify-policy__container {
  max-width: 786px;
  padding: 3rem var(--gutter-width);
}

.section-heading.text--left .breadcrumbs-list,
.section-heading.text--left .section-heading {
  justify-content: start;
  text-align: left;
}

.section-heading.text--center .breadcrumbs-list,
.section-heading.text--center .section-heading {
  text-align: center;
  justify-content: center;
}

.section-heading.text--right .breadcrumbs-list,
.section-heading.text--right .section-heading {
  text-align: right;
  justify-content: end;
}

@media (max-width: 767px) {
  .shopify-policy__container {
    padding: 1.8rem var(--gutter-width);
  }
}